/* Add a black background color to the top navigation */
.topnav {
    background-color: #333;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #4CAF50;
    color: white;
}

table, th, td
{
	border: 1px solid black;
	border-collapse: collapse;
}

th, td
{
	padding: 10px;
	text-align: center;
}

th
{
	background-color: silver;
}

.table-link
{
	text-decoration: none;
	color: inherit;
}

.plain-link
{
	text-decoration: none;
	color: inherit;
}

.link-button
{
	border: 1px solid black;
	border-radius: 10px;
	padding: 10px;
	background-color: silver;
}

.submit-button
{
	border: 1px solid black;
	border-radius: 10px;
	padding: 10px;
	width: 100px;
	background-color: silver;
}
